<div class="form-item form-item-select">
    <select name="sel1">
        <option value="0">Option 0</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
        <option value="5">Option 5</option>
        <option value="6" selected>Option 6</option>
        <option value="7">Option 7</option>
        <option value="8">Option 8</option>
        <option value="9">Option 9</option>
        <option value="10">Option 10</option>
        <option value="11">Option 11</option>
        <option value="12">Option 12</option>
        <option value="13">Option 13</option>
        <option value="14">Option 14</option>
        <option value="15">Option 15</option>
    </select>
    <!--
    <div class="select-fake">
        <span class="select-label">FAKE</span>
        <span class="select-button"></span>
        <div class="select-fake-menu-holder">
            <div class="select-fake-menu">
                <div class="select-fake-menu-item">Option 0</div>
                <div class="select-fake-menu-item">Option 1</div>
                <div class="select-fake-menu-item">Option 2</div>
                <div class="select-fake-menu-item">Option 3</div>
                <div class="select-fake-menu-item">Option 4</div>
                <div class="select-fake-menu-item">Option 5</div>
                <div class="select-fake-menu-item">Option 6</div>
                <div class="select-fake-menu-item">Option 7</div>
                <div class="select-fake-menu-item">Option 8</div>
                <div class="select-fake-menu-item">Option 9</div>
                <div class="select-fake-menu-item">Option 10</div>
                <div class="select-fake-menu-item">Option 11</div>
                <div class="select-fake-menu-item">Option 12</div>
                <div class="select-fake-menu-item">Option 13</div>
                <div class="select-fake-menu-item">Option 14</div>
                <div class="select-fake-menu-item">Option 15</div>
            </div>
        </div>
    </div> <!-- @select-fake -->
</div>